body {
    margin: 0;
    padding: 0;
    height: 100%; /* Ensure full height for viewport */
}

html {
    height: 100%; /* Ensure full height for viewport */
}

.container {
    width: 100%; /* Full width */
    height: 100vh; /* Full height for the viewport */
    display: grid;
    grid-template-areas: 
        "navbar navbar navbar navbar navbar navbar navbar navbar"
        "c1 c1 c2 c2 c2 c2 c2 c2"
        "c1 c1 c2 c2 c2 c2 c2 c2"
        "c3 c3 c3 c3 c3 c3 c3 c3"
        "footer footer footer footer footer footer footer footer";
    grid-template-rows: 80px 1fr 1fr 1fr 50px; /* Define heights for rows */
    grid-template-columns: repeat(8, 1fr); /* 8 equal columns */
}

#navbar {
    grid-area: navbar;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#c1 {
    grid-area: c1;
    background-color: white;
}

.text {
    color: rgb(191, 230, 240);
    overflow: hidden;
    font-size: 1rem;
    font-weight: 400;
    border-right: 0.15em solid;
    white-space: nowrap;
    animation: typing 2.5s steps(22, end) infinite;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 170%;
    }
}

#c2 {
    grid-area: c2;
    background-color: lightgreen;
    margin-left: 0; /* Removed unnecessary margin */
}

#c3 {
    grid-area: c3;
    background-color: lightgoldenrodyellow;
}

#footer {
    grid-area: footer;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}
